version: '3.9'
services:
  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--quiet", "--eval", "db.runCommand({ ping: 1 }).ok"]
      interval: 5s
      timeout: 3s
      retries: 20

  api:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - MONGO_URI=mongodb://mongo:27017/rbac_mern
      - JWT_SECRET=super-secret-change-me
      - JWT_EXPIRES_IN=15m
      - CORS_ORIGIN=http://localhost:5173
    depends_on:
      mongo:
        condition: service_healthy
    ports:
      - "4000:4000"
    command: npm run dev
    volumes:
      - ./:/app
      - /app/node_modules

volumes:
  mongo_data:
